@charset "utf-8";
/* CSS Document */

/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */


/* my custom styles*/
.redAsterisk {
	color: #F52305;
}
.redPosition {
	position: relative;
	height: auto;
	width: auto;
	right: auto;
	bottom: auto;
}
#redAsterisk {
	color: #F52305;
}
.cardTypesCss {
	width: 140px;
	list-style-type: disc;
}
.inputField {
	width: 135px;
}
#form2 fieldset p .redPosition {
	color: #F52305;
}